@import url(_fonts.css);

body{
    background-color: #ffffff;
    font-family: "Hanken Grotesk";
    font-size: 62.5%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Style for the result*/
.show-result{
    background-image: linear-gradient(360deg,rgba(52,46,234,255),rgba(100,65,253,255) );
    text-align: center;
    border-radius: 20px;
    color: #b9aeff;
    height: 50vh;
    width: 30vh;
}


.result{
    line-height: 100px;
    margin: auto;
    background-color: #4925cf;
    border-radius: 50%;
    width: 100px;
}

.result span{
    font-family: "Hanken Grotesk-ExtraBold";
    font-size: 3.6rem;
    color: white;
}

/*Style for the summary*/

.show-summary{
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    height: 50vh;
    width: 30vh;
}

.show-summary h2{
    padding-right: 150px;
    color: #323546;
}

/*Style for individual*/
.options{
    padding: 20px;
}

.reaction{
    background-color: #fff6f5;
    color: #de8184;
    padding: 10px 50px 10px 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.memory{
    background-color: #fffbf2;
    color: #e1d09c;
    padding: 10px 50px 10px 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
}


.verbal{
    background-color: #f2fbfa;
    color: #69af9c;
    padding: 10px 50px 10px 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.visual{
    background-color: #f3f3fd;
    color: #4342ac;
    padding: 10px 50px 10px 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.values{
    text-align: right;
    color: #303b59;
    
}


/*Style for the */
div span{ 
    padding: 0 10px 0 30px;
}

div span.value{
    color: #99a2a8;
}

div span.value b{
    color: #32313e;
}

/*Style for the button*/

.button-continue{
    background-color: #303b59;
    color: rgb(255, 255, 255);
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
    border-style: none;
}


/*Footer*/

footer.attribution{
    position: fixed;
    bottom: 0;

}