html{
    font-family: 'Karla', sans-serif;
    background-color: #e5eff5;
    line-height: 150%;
}

section{
    display: inline-grid;
    margin-left: 65vh;
    margin-top: 20vh;
    
}

/*Community*/
section div.join-community{
    background-color: #ffffff;
    display: block;
    height: 221px;
    width: 635px;
    grid-column: 1 / span 3;
    box-sizing: border-box;
    text-align: left;
    padding: 30px;
    border-radius: 5px 5px 0px 0px;
}

section div.join-community h2{
    color: #2ab2af;
}

section div.join-community h3{
    color: #c0df34;
}

section div.join-community p{
    color: #98a6bd;
}
/*--------------------------------------------------------------------*/

/*Subscription*/
section div.subscription{
    background-color: #2ab2af;
    height: 259px;
    width: 317px;
    color: #dcf3f2;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 5px;
}

section div.subscription strong{
    font-size: 40px;
}

section div.subscription span{
    color: #91d7d6;
    padding-left: 10px;
}

section div.subscription button{
    background-color: #c0df34;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    width: 237px;
    height: 47px;
    font-weight: bold;
}
/*---------------------------------------------------------------------*/

/*About*/
section div.about{
    background-color: #4abbb9;
    height: 259px;
    width: 317px;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 0px;
    padding: 30px;
    text-align: left;
    color: #c8ebea;
}
/*--------------------------------------------------------------------*/