

*{
    background-color: hsl(148, 38%, 91%);
}

body{
    display: flex;
    align-items: center;
    justify-content: center; 
    color: hsl(187, 24%, 22%);
}

section{
    background-color: hsl(0, 0%, 100%);
    width: 40vw;
    height: 80vh;
    margin-top: 8vh;
    border-radius: 15px;
    padding: 15px;
    display: inline-block; 
    align-items: start;
}


section h1{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    color: black;
    
}

section form{
    background-color:  hsl(0, 0%, 100%);
    padding: 15px;
    margin-top: 5vh;
}

section label{
    background-color: hsl(0, 0%, 100%);
    color: hsl(187, 24%, 22%);
    
}



section input#last-name{

}


section input, textarea{
    margin: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border: 1px solid hsl(186, 15%, 59%);
    display: block;
}

section #first-name, #last-name, .check{
    padding: 5px 0 5px 0;
}


input#email , #first-name, #last-name {
    width: 15vw;
    height: 3vh;
}

footer.attribution{
    position: fixed;
    bottom: 0;
    left: 45vw;
}